<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">eCommerce7</h5>
  <img id="logo" src="" />
  <cart (cartClicked)="onCartClick1()"></cart>
</header>

<main class="container">
  <div class="container">
   <product>Loading</product>
  </div>
</main>

<footer class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-top box-shadow">
  Footer - Coding round@Copyright
</footer>

<ng-container #cartList></ng-container> 